* {
  box-sizing: border-box;
}

html {
  background-image: url('@/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 8px;
}

.ant-picker {
  width: 100%;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
