* {
  box-sizing: border-box;
}

html {
  background-image: url('@/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.ant-picker {
  width: 100%;
}
