.header {
  width: 100%;
  background-image: url('@/images/header.jpg');
  background-size: contain;
  padding: 8px;
  margin-bottom: 24px;
}

.menu {
  border-radius: 8px;
  gap: 8px;
  width: 100%;
  background-color: transparent;

  :global(.ant-menu-item),
  :global(.ant-menu-overflow-item) {
    background-color: #fff !important;
    border-radius: 8px !important;
  }
}

.auth {
  margin-left: auto !important;
}

.logout {
  height: 46px;
}
