.book {
  :global(.stf__block) {
    box-shadow: 0 0 20px #000;
    background: url('@/images/paper.jpg') center / cover no-repeat;
    border-radius: 8px;

    @media (max-width: 1040px) {
      background: none;
      box-shadow: none;
    }
  }

  @media (max-width: 1040px) {
    :global(.stf__wrapper) {
      padding: 0 !important;
    }
  }
}

.page {
  background: url('@/images/paper.jpg') center / cover no-repeat;
  position: relative;
  padding: 8px 8px 36px;
  border-radius: 8px;

  &:global(.--left) {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: #e5e7eb;
    }
  }
}

.number {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.avatar {
  width: 100px;
  margin-bottom: 16px;
}

.image {
  width: 50px;
}
